.main {
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  height: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  height: 75%;
  width: 40%;
  display: flex;
  flex-direction: column;
}

.record-time {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  color: grey;
  line-height: 15px;
  font-family: Arial, Helvetica, sans-serif;
}


.dead {
  margin-right: 0;
  vertical-align: middle;
  width: 80px;
  height: 32px;
  background-position: 0 0;
  background-image: url('./assets/pray_right.png');
  -webkit-animation: dead 0.68s steps(17) infinite;
  animation: dead 0.68s steps(17) infinite;
  animation-duration: 0.68s;
  animation-timing-function: steps(17);
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: dead;
}

@keyframes dead {
  100% {
      background-position: -1360px;
      background-position-x: -1360px;
      background-position-y: center;
  }
}

.alive {
  margin-right: 0;
  vertical-align: middle;
  width: 80px;
  height: 32px;
  background-position: 0 0;
  background-image: url('./assets/pray_right.png');
  -webkit-animation: alive 0.68s steps(17) infinite;
  animation: alive 0.68s steps(16) infinite;
  animation-duration: 0.68s;
  animation-timing-function: steps(16);
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: alive;
}

@keyframes alive {
  100% {
      background-position: -1360px;
      background-position-x: -1360px;
      background-position-y: center;
  }
}