.title {
    color: black;
}

*{
    margin: 0;
    padding: 0;
}


.my-image {
    width: 80px;
    height: 32px;
    background-position: 0 0;
    background-image: url(images/pray_right.png);
    -webkit-animation: pray_right 0.68s steps(17) infinite;
    animation: pray_right 0.68s steps(17) infinite;
    animation-duration: 0.68s;
    animation-timing-function: steps(17);
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: pray_right;
}

@keyframes pray_right {
    100% {
        background-position: -1360px;
        background-position-x: -1360px;
        background-position-y: center;
    }
}