doctype html
html
    head
        | <script async src="https://www.googletagmanager.com/gtag/js?id=G-RFH6ZPRD5P"></script>
        | <script>
        |     window.dataLayer = window.dataLayer || [];
        |     function gtag(){dataLayer.push(arguments);}
        |     gtag('js', new Date());
        | 
        |     gtag('config', 'G-RFH6ZPRD5P');
        | </script>
        | 
        | <link rel="stylesheet" type="text/css" href="/css/style.css">
        title Turble Rules!

    body 
        div.text Hello there
        if isDead
            div.dead-image
        else
            div.alive-image

        | <script src="/socket.io/socket.io.js"></script>
        | <script>
        | var socket = io();
        | </script>

